body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f5f5f5;
    color: #333;
}
header {
    
    text-align: center;
    padding: 1rem;

    background-color: rgb(240, 213, 12);
    color:black;
    text-align: center;
    
}

main {
    max-width: 800px;
    margin: 20px auto;
}

.product {
    display: flex;
    justify-content: space-between;
    border: 1px solid #ddd;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: transform 0.3s ease-in-out; /* Added transition for interactivity */
}

.product:hover {
    transform: scale(1.02); /* Added hover effect */
}

.product-image img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.product-details {
    flex: 1;
    padding-left: 20px;
}

h2 {
    color: #555;
}

.price {
    font-size: 1.5em;
    color: #e44d26; /* Orange color */
}

.add-to-cart-btn {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.add-to-cart-btn:hover {
    background-color: #45a049;
}

 footer {
    /* background-color: yellow; */
     color: #333;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}  


.sidebar {
    height: 80%;
    width: 200px;
    position: fixed;
    background-color: #333;
    padding-top: 20px;
}

.sidebar h2 {
    color: white;
    text-align: center;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    padding: 15px;
    text-align: center;
}

.sidebar a {
    text-decoration: none;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    background-color: #4caf50;
    color: white;
}
.cta-section button{
background-color: #45a049;
}

